# ══════════════════════════════════════════════
#  FOU TUNNEL — SERVER
#  Interface : eth2
#  IP Publik  : 202.10.48.182  (langsung di interface)
# ══════════════════════════════════════════════

# ── Server ────────────────────────────────────
SERVER_IFACE=eth2
SERVER_IP=202.10.48.182

# ── Client (publik CGNAT/NAT) ─────────────────
# IP publik yang terlihat dari sisi server
CLIENT_PUBLIC_IP=38.47.95.247

# ── FOU Encapsulation ─────────────────────────
FOU_PORT=5555
IPPROTO=4                   # 4=IPIP | 47=GRE
TUNNEL_PROTO=ipip

# ── Interface tunnel virtual ──────────────────
TUNNEL_IF=tun0
TUNNEL_SERVER_ADDR=10.10.10.1/30
TUNNEL_CLIENT_PEER=10.10.10.2

# ── Routing / NAT ─────────────────────────────
# Aktifkan jika ingin client routing internet via server
ENABLE_MASQUERADE=false
